.header {
    width: 100%;
    height: 10.5rem;
    border-top: 1px solid var(--Dark-12, #1C1C21);
    border-bottom: 1px solid var(--Dark-12, #1C1C21);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.h-left{
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    padding: 0;
}
.h-left>span{
    padding-left: 0px;
    font-weight: 100;
    font-size: smaller;
}


