.header {
    width: 87%;
    height: 10.5rem;
    border-top: 1px solid var(--Dark-12, #1C1C21);
    border-bottom: 1px solid var(--Dark-12, #1C1C21);
    display: flex;
    gap: 37rem;
    margin-left: 6rem;
    justify-content: space-between;
    align-items: center;
}

.h-left {
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
    padding: 0;
}

.h-left>span {
    padding-left: 0px;
    font-weight: 100;
    font-size: smaller;
}

.h-right {
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
}
.h-btn{
    background: var(--Purple-55, #4A2CED);
    border-radius: 6.25rem;
    cursor: pointer;
}
.h-btn>img {
    padding: 0rem 1rem;
    box-shadow: 4px 4px 17.4px 0px rgba(255, 255, 255, 0.28) inset;
    border-radius: 6.25rem;
    background: var(--Purple-55, #4A2CED);
}