.feed-main {
    margin: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feed-head {
    width: 80%;
    text-align: start;
}

.head-text>span {
    color: var(--Grey-50, #797C86);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.head-text>h4 {
    color: var(--Absolute-White, #FFF);
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.details {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.rev {
    padding-top: 0;
}

.details>div>span {
    color: var(--Grey-40, #62646C);
    font-size: 1rem;
    font-style: normal;
    font-weight: 200;
    line-height: 100%;
}

.details>div>p {
    color: var(--Grey-80, #CACACE);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 2.625rem */
}

.review-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 3rem 0;
}

.rev-card {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 0.75rem;
    border: 1px solid var(--Dark-12, #1C1C21);
    background: var(--Dark-06, #0E0E10);
    width: 25rem;
}

.rev-head {
    width: 90%;
    display: flex;
    justify-content: space-between;
    display: flex;
    padding: 0.6rem 0.5rem;
    /* padding-left: 0.5rem; */
    align-items: center;
    /* gap: 0.6rem; */
    border-radius: 6.25rem;
    border: 1px solid var(--Dark-12, #1C1C21);
}

.rev-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.name-rev {
    color: var(--Grey-90, #E4E4E6);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.address-rev {
    margin-top: 0.5rem;
    color: var(--Grey-40, #62646C);
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
}

.review {
    color: var(--Grey-90, #E4E4E6);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    text-align: start;
}