.self-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.s-container {
    width: 80%;
    height: auto;
}

.s-about {
    border-bottom: 1px solid var(--Dark-12, #1C1C21);
    display: flex;
    justify-content: space-between;
}

.s-left-side {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.s-left-side>span {
    color: var(--Grey-50, #797C86);
    font-family: Manrope;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.s-left-side>h2 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 3rem;
}

.s-right-side {
    padding-top: 1rem;
}

.s-right-side>button {
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
    border: 1px solid #2F2F37;
    background: var(--Dark-12, #1C1C21);
}

.s-right-side>button:hover {
    background: var(--Dark-12, #39393f);
    cursor: pointer;
}

.s-about {
    margin-bottom: 5rem;
}

.s-abt-container {

    height: auto;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.abt-left>img {
    width: 28rem;
    height: 25rem;
}

.abt-right {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;

}

.intro>div {
    display: flex;
    justify-content: center;
}


.intro>div>h3 {
    color: var(--Grey-80, #CACACE);
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
}

.intro>div>img {
    width: 2rem;
    height: 2rem;
    margin-top: 6px;
}

.intro>p {
    text-align: left;
    color: var(--Grey-70, #AFB0B6);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
}

.contact>div {
    display: flex;
    justify-content: center;
}

.contact>div>h3 {
    color: var(--Grey-80, #CACACE);
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
}

.contact>div>img {
    width: 2rem;
    height: 2rem;
    margin-top: 6px;
}

.phone-email {
    margin-top: 2rem;
    gap: 1rem;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding-right: 3rem;
}

.email>h5 {
    color: var(--Grey-90, #E4E4E6);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.email>p {
    color: var(--Grey-70, #AFB0B6);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
}
.phone{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}
.phone>h5 {
    color: var(--Grey-90, #E4E4E6);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}
.phone>p {
    color: var(--Grey-70, #AFB0B6);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 90%;
}

