.self-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.s-container{
    width: 80%;
    height: 300rem;
    border: 1px solid white;
}