.Ser-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
}

.photo-service {
    border-bottom: 1px solid var(--Dark-12, #1C1C21);
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.sLeftSide {
    width: max-content;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.sLeftSide>span {
    color: var(--Grey-50, #797C86);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.sLeftSide>p {
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.sRightSide {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sRightSide>button {
    border-radius: 6.25rem;
    border: 1px solid #2F2F37;
    background: var(--Dark-12, #1C1C21);
}

.sRightSide>button>img {
    border-radius: 6.25rem;
    border: 1px solid #2F2F37;
    background: var(--Dark-12, #1C1C21);
}

#btn-src {
    padding: 0.8rem 1.5rem;
    border-radius: 0.625rem;
    border: 1px solid #2F2F37;
    background: var(--Dark-12, #1C1C21);
}

.events {
    text-align: justify;
}

.eLeftSide {
    width: 50%;
}

.event-service {
    width: 80%;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.events>div>h1 {
    color: var(--Grey-50, #797C86);
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.e-content>* {
    color: var(--Grey-50, #797C86);
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
}

.highlights {
    margin-top: 2rem;
    text-align: start;
}

.highlights>p {
    color: var(--Grey-80, #CACACE);
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
}

.highlights>ol>li {
    margin-top: 1rem;
    border-radius: 0.75rem;
    border: 1px solid var(--Dark-12, #1C1C21);
    display: flex;
    padding: 1rem 1rem;
    align-items: center;
    gap: 0.625rem;
    color: var(--Grey-70, #AFB0B6);
    font-size: 0.93rem;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    text-transform: uppercase;
    text-decoration: none;
}

.highlights>ol>li>img {
    width: 1rem;
    color: #45454d69;

}

.eRightSide>img {
    border-radius: 1.25rem 1.25rem 1.25rem 6.25rem;
    background: url('../../../Images/concert.png'), lightgray 50% / cover no-repeat;
    height: 28rem;
    flex: 1 0 0;
}

@media screen and (max-width:450px) {
    .photo-service {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .sLeftSide {
        width: max-content;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .sLeftSide>p {
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }
    .event-service {
        /* width: 80%; */
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .eLeftSide {
        width: 100%;
    }
    
}
