.navBar {
    /* width: 80%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 1.875rem 2.5rem;
    margin: 0 7.81rem;
    border: 1px solid rgba(128, 128, 128, 0.581);
}

.n-right>img {
    width: 8.38125rem;
    height: 1.6875rem;
}