.footer-main {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 80%;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid var(--Dark-12, #1C1C21);
}

.foo-left-side {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
}

.foo-left-side>p {
    color: var(--Grey-50, #797C86);
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 3rem;
}

.foo-right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 1px solid var(--Dark-12, #1C1C21);
    padding: 3rem 2rem;
}

.foo-list {
    text-align: start;
    display: flex;
    justify-content: space-between;
    gap: 7rem;

}

.foo-list>ul {
    list-style-type: none;
    cursor: pointer;
}

.list-head {
    color: var(--Grey-50, #797C86);
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}
.foo-list>ul>*{
    margin-bottom: 0.3rem;
}
.design{
    width: 10rem;
    height: 10rem;
    margin-top: 5rem;
    
}