.main-content {
    width: 100%;
    height: auto;
}
.p-container{
    width: 80%;
    display: flex;
}
#p-one{
    width: 26rem;
}
.g-2{
    width: 30px;
    position: absolute;
    top: 39rem;
}
.g-2>img{
    width: 8rem;
}
.g-3{
    position: absolute;
    top: 26rem;
    left: 8.5rem;
}
.g-3>img{
    width: 32rem;
}
.b-1>img{
    /* width: 37rem; */
    height: 29rem;
}
