.main-content {
    height: auto;
    overflow: hidden;
    margin: 0 0.1px;
}

.p-container {
    /* width: 100%; */
    
    position: relative;
    display: flex;
}

.g-1 {
    width: 32rem;
    height: 22rem;
}

.g-2 {
    position: absolute;
    width: 8rem;
    height: 9rem;
    top: 22.5rem;
    left: 0;
}

.g-3 {
    position: absolute;
    top: 9rem;
    left: 8.5rem;
}

.g-3>img {
    width: 32rem;
    height: 22.6rem;
}
.g-4{
    width: 17rem;
    height: 18.4rem;
}

.b-1 {
    width: 38rem;
    height: 32rem;
}

.b-2 {
    position: absolute;
    width: 16.9rem;
    height: 13rem;
    top: 18.7rem;
    left: 70rem;
}